* {
    margin:0;
    font-family: sans-serif;
    user-select: none;
}

body {
    height: 100%;
}

header {
    background: #444;
    padding: 16px;
    color: #fefefe;
    display:flex;
    a{
        color: #fefefe;
        text-decoration: none;
        filter: drop-shadow(0 1px 4px rgba(0,0,0,.8));
        transition: all .2s ease-out;
        animation: pulse 5s ease infinite;

        @keyframes pulse {
            0%{
                color:white;
            }
            50%{
                color:cornflowerblue;
            }
            100%{
                color: white;
            }
        }
    }

    h2 {
        font-size: 14px;
        font-weight: 100;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    background: #ddd;
    ul {
        display: flex;
        list-style-type: none;
        height:32px;
        align-items: center;
        li {
            margin-right: 16px;
            a {
                text-decoration: none;
                color:#444;
                transition: all .2s ease-out;

                &:hover {
                    color:crimson;
                }
            }
        }
    }

    div#sessionArea {
        display: flex;
        align-items: center;
        height: 32px;
        margin-right: 8px;
    }
}

main {
    width:100%;
    height:100%;
    display: grid;
    place-content: center;
    padding: 16px 0;

    h3 {
        text-align: center;
        font-weight: 300;
    }

    p {
        text-align: center;
        font-size: 14px;
        font-weight: 100;

        a {
            text-decoration: none;
            color: #444;

            &:hover {
                color: crimson;
            }
        }
    }

    h2 {
        font-size: 32px;
        letter-spacing: 0.04em;
        text-align: center;
        margin: 8px 0;
        font-weight: 400;
    }

    ul {
        margin: 16px 0;
        li {
            font-size: 14px;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;

        input {
            margin: 8px 0;
        }
    }

    div.dica {
        margin: 32px 0;
        padding: 8px;
        background-color: #ccc;
        border-radius: 32px;
        letter-spacing: -0.04em;
    }
}

footer {
    height: 32px;
    width: 100%;
    bottom: 0;
    position: absolute;
    background-color: rgb(58, 58, 58);
    display: grid;
    place-content: center;
    p {
        color: #fefefe;
        font-family: sans-serif;
        font-weight: 300;
        font-size: 12px;
        letter-spacing: 0.08em;
    }
}