{% extends 'template.html' %}

{% block content %}

<main>

    <h2>Aplicação em Flask | Python</h2>

    <h3>Seja bem vindo!</h3>

    <p>Este é um exemplo de como podemos servir aplicações usando Python.🐍</p>
    <p>Esta é uma página html básica, com estilo css servida por um servidor web desenvolvido usando Python e seu microframework Flask!</p>

    <h3>Pontos interessantes do Flask</h3>
    <ul>
        <li>Simplicidade ao construir uma aplicação. O flask proporciona uma variedades de métodos que ajudam no desenvolvimento.</li>
        <li>É possível conectar banco de dados e escalar uma aplicação feita com Flask.</li>
        <li>Fácil de rodar tanto em ambiente de desenvolvimento quanto de produção.</li>
        <li>O Template Language Jinja2 e construção dinâmica de páginas estáticas.</li>
    </ul>

    <p>O próximo passo é ligar um banco de dados relacional (SQL) à nossa aplicação.</p>

    <div class="dica">
        <p>Gostaria de saber mais sobre Flask❓</p>
        <p>
            <a href="https://flask.palletsprojects.com/en/2.0.x/quickstart/">Guia de Inicio rápido (Inglês)</a>
        </p>
    </div>

</main>

{% endblock %}