<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{style}}>
    <title>Dashoard</title>
</head>
<body>
    {% block body %} {% endblock %}
    <h1>Seja em vindo {{name}} ao Dashboard</h1>
    <p>Este é um exemplo de como podemos servir aplicações usando Python.🐍</p>
    <p>Esta é uma página html básica, com estilo css servida por um servidor web desenvolvido usando Python e seu microframework Flask!</p>
</body>
</html>